<h1><%= @article.title %></h1>
<%= link_to 'Изменить', edit_article_path(@article) %>
<td><%= link_to "Удалить", article_path(@article), method: :delete, data:{confirm: "Вы уверены?"} %></td>
<p><%= @article.body %></p>